body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d9edf7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-border {
    border-bottom-color: #ff9900;
    border-bottom-style: solid;
    background-color: dodgerblue;
}

.nav-border li a {
    color: white;
    transition: transform .2s;
}

.nav-border li a:hover {
    background-color: #ff9900;
    padding: 15px;
    transform: scale(1.3);
}

.ch {
    color: #ff9900;
}

.logo-font {
    color: white;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: white;
}

.jumbotron {
    background-color: dodgerblue !important;
}

.table {
    background-color: #cfcfe7;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.navbar-toggle {
    background-color: #ff9900;
}

.icon-bar{
    background-color: white;
}
